Babel==2.8.0
beautifulsoup4==4.9.1
boltons==20.1.0
cachelib==0.1
cachetools==4.2.4
certifi==2020.4.5.2
cffi==1.14.6
chardet==3.0.4
charset-normalizer==2.0.7
click==7.1.2
colored==1.4.2
cryptography==35.0.0
gitdb==4.0.7
GitPython==3.1.3
google-api-core==1.31.3
google-api-python-client==1.9.3
google-auth==1.35.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.53.0
grow==1.0.4
html2text==2020.1.16
httplib2==0.18.1
idna==2.10
importlib-metadata==2.1.1
Jinja2==2.11.3
Markdown==3.2.2
MarkupSafe==2.0.1
oauth2client==4.1.3
packaging==21.0
pathtools==0.1.2
progressbar2==3.51.3
protobuf==3.17.3
protorpc==0.12.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.6.1
pyOpenSSL==21.0.0
pyparsing==2.4.7
python-slugify==4.0.0
python-utils==2.5.6
pytz==2021.3
PyYAML==5.3.1
requests==2.23.0
rsa==4.7.2
semantic-version==2.8.5
six==1.16.0
smmap==4.0.0
soupsieve==2.2.1
text-unidecode==1.3
texttable-fixed==0.8.3
translitcodec==0.6.0
uritemplate==3.0.1
urllib3==1.25.9
watchdog==0.10.2
WebOb==1.8.6
webreview==0.3.1
Werkzeug==1.0.1
zipp==3.6.0
